In [1]:
import pandas as pd

# Step 1: Load the CSV file
file_grades = "dataset_grades_sample.csv"  
try:
    data = pd.read_csv("https://raw.githubusercontent.com/akmand/datasets/refs/heads/main/sample_grades.csv")
    print("Data loaded successfully!")
    print(data.head())  # Display the first few rows of the dataset
except FileNotFoundError:
    print("File not found. Please check the file path.")
except Exception as e:
    print(f"An error occurred: {e}")
#----------------------------------------------------------------------------------
data.head()
#----------------------------------------------------------------------------------
print("There are {:,} rows ".format(data.shape[0]) + "and {} columns in our data".format(data.shape[1]))
#----------------------------------------------------------------------------------
print("Data types of each column:")
print(data.dtypes)
#----------------------------------------------------------------------------------
# Replace "M" with "Male" in the 'Gender' column
data ['Gender'] = data['Gender'].replace('M', 'Male')
#----------------------------------------------------------------------------------
# Replace "M" with "Male" in the 'Gender' column
data ['Gender'] = data['Gender'].replace('F', 'Female')
#----------------------------------------------------------------------------------
data
#----------------------------------------------------------------------------------
#Managing null values
# number of null records in original data set
(data.isnull().sum()).tolist
#----------------------------------------------------------------------------------
#Drop rows with null values
data_cleaned = data.dropna()

# Verify if all null values are removed
print("\nCheck for remaining null values:")
print(data_cleaned.isnull().sum())

# Save the cleaned dataset to a new file
cleaned_file_path = "cleaned_sample_grades.csv"
data_cleaned.to_csv(cleaned_file_path, index=False)
print(f"\nCleaned data saved to {cleaned_file_path}")
#----------------------------------------------------------------------------------
data.duplicated().sum()
#----------------------------------------------------------------------------------
print("There are {:,} rows ".format(data_cleaned.shape[0]) + "and {} columns in our data after cleaning".format(data_cleaned.shape[1]))
#----------------------------------------------------------------------------------
data_cleaned
#----------------------------------------------------------------------------------
print("There are {:,} rows ".format(data_cleaned.shape[0]) + "and {} columns in our data after cleaning".format(data_cleaned.shape[1]))

Data loaded successfully!
   Student ID  Gender  Project Phase 1  Project Phase 2  Mid-Semester Test  \
0         101    Male            18.25             15.5                 94
1         102  Female            17.75             30.0                 79
2         103    Male             0.00              0.0                 78
3         104    Male            20.00             25.0                 69
4         105    Male            18.75             30.0                 96

   Final Exam Grade
0        61.0    PA
1        62.0    PA
2        15.0    NN
3        65.0    PA
4        51.0    PA
There are 40 rows and 7 columns in our data
Data types of each column:
Student ID             int64
Gender                object
Project Phase 1      float64
Project Phase 2      float64
Mid-Semester Test      int64
Final Exam           float64
Grade                 object
dtype: object

Check for remaining null values:
Student ID           0
Gender               0
Project Phase 1      0
Project Phase 2      0
Mid-Semester Test    0
Final Exam           0
Grade                0
dtype: int64

Cleaned data saved to cleaned_sample_grades.csv
There are 33 rows and 7 columns in our data after cleaning
There are 33 rows and 7 columns in our data after cleaning

In [ ]:
import sqlite3
# Connect to the database
conn = sqlite3.connect("cleaned_sample_grades.db") 
cur = conn.cursor()
#Read data
df = pd.read_csv("cleaned_sample_grades.csv")
df.head()

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,101,Male,18.25,15.5,94,61.0,PA
1,102,Female,17.75,30.0,79,62.0,PA
2,103,Male,0.00,0.0,78,15.0,NN
3,104,Male,20.00,25.0,69,65.0,PA
4,105,Male,18.75,30.0,96,51.0,PA

In [3]:
# Send data to database
df.to_sql('pd_grades', conn, index=False)

33

In [8]:
#Read from database to dataframe
result = pd.read_sql_query("SELECT * FROM pd_grades", conn)
result

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,101,Male,18.25,15.50,94,61.0,PA
1,102,Female,17.75,30.00,79,62.0,PA
2,103,Male,0.00,0.00,78,15.0,NN
3,104,Male,20.00,25.00,69,65.0,PA
4,105,Male,18.75,30.00,96,51.0,PA
5,106,Male,17.00,23.50,80,59.0,PA
6,108,Male,20.00,28.00,95,44.0,PA
7,109,Male,18.00,23.00,50,33.0,NN
8,110,Female,20.00,30.00,92,63.0,PA
9,111,Female,19.50,13.00,95,52.0,PA
10,114,Male,20.00,22.75,85,78.0,PA
11,115,Male,19.50,26.00,100,79.0,PA
12,116,Female,20.00,25.50,97,52.0,PA
13,118,Male,12.50,10.00,30,22.0,NN
14,119,Male,17.50,20.00,61,31.0,NN
15,120,Male,14.50,23.50,54,58.0,PA
16,121,Female,17.75,30.00,56,46.0,PA
17,122,Female,20.00,23.00,37,25.0,NN
18,123,Male,19.75,30.00,74,61.0,PA
19,124,Male,20.00,30.00,90,71.0,PA
20,126,Female,20.00,22.50,83,56.0,PA
21,127,Female,20.00,35.00,84,83.0,PA
22,128,Female,20.00,30.00,84,91.0,PA
23,129,Male,20.00,30.00,64,86.0,PA
24,130,Male,19.50,13.00,62,39.0,NN
25,132,Female,17.50,20.00,42,47.0,NN
26,133,Female,20.00,28.00,58,74.0,PA
27,134,Male,20.00,15.50,46,76.0,PA
28,135,Male,20.00,30.00,61,6.0,NN
29,136,Male,18.50,22.00,26,68.0,PA
30,137,Female,20.00,26.00,89,63.0,PA
31,138,Male,18.75,30.00,59,52.0,PA
32,140,Male,20.00,29.00,84,77.0,PA

In [9]:
#Commit and close
conn.commit()
conn.close()

In [11]:
import os
print(os.path.abspath("cleaned_sample_grades.db"))

c:\Users\ACER NITRO 5\Desktop\Python\cleaned_sample_grades.db