# Data Processing #
 
To ensure the readiness of dataset for analysis, the dataset was done by processing and cleaning. 
Key Observations are asf:

- Missing values were present in columns such as Gender, Project Phase 2, and Final Exam.
- Standardized Gender values by replacing abbreviations (M, F) with full terms (Male, Female).
- Missing values were handled by dropping rows with null entries, resulting in a reduction from 40 rows to 33 rows.
- Verified the dataset had no duplicate rows.

In [ ]:
import pandas as pd

# Step 1: Load the CSV file
file_grades = "dataset_grades.csv"  
try:
    data = pd.read_csv("https://raw.githubusercontent.com/akmand/datasets/refs/heads/main/sample_grades.csv")
    print("Data loaded successfully!")
    print(data.head())  # Display the first few rows of the dataset
except FileNotFoundError:
    print("File not found. Please check the file path.")
except Exception as e:
    print(f"An error occurred: {e}")

Data loaded successfully!
   Student ID  Gender  Project Phase 1  Project Phase 2  Mid-Semester Test  \
0         101    Male            18.25             15.5                 94
1         102  Female            17.75             30.0                 79
2         103    Male             0.00              0.0                 78
3         104    Male            20.00             25.0                 69
4         105    Male            18.75             30.0                 96

   Final Exam Grade
0        61.0    PA
1        62.0    PA
2        15.0    NN
3        65.0    PA
4        51.0    PA

In [ ]:
data.head()

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,101,Male,18.25,15.5,94,61.0,PA
1,102,Female,17.75,30.0,79,62.0,PA
2,103,Male,0.00,0.0,78,15.0,NN
3,104,Male,20.00,25.0,69,65.0,PA
4,105,Male,18.75,30.0,96,51.0,PA

In [ ]:
print("There are {:,} rows ".format(data.shape[0]) + "and {} columns in our data".format(data.shape[1]))

There are 40 rows and 7 columns in our data

In [ ]:
print("Data types of each column:")
print(data.dtypes)

Data types of each column:
Student ID             int64
Gender                object
Project Phase 1      float64
Project Phase 2      float64
Mid-Semester Test      int64
Final Exam           float64
Grade                 object
dtype: object

In [ ]:
# Replace "M" with "Male" in the 'Gender' column
data ['Gender'] = data['Gender'].replace('M', 'Male')

In [ ]:
# Replace "F" with "Female" in the 'Gender' column
data ['Gender'] = data['Gender'].replace('F', 'Female')

In [ ]:
data

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,101,Male,18.25,15.50,94,61.0,PA
1,102,Female,17.75,30.00,79,62.0,PA
2,103,Male,0.00,0.00,78,15.0,NN
3,104,Male,20.00,25.00,69,65.0,PA
4,105,Male,18.75,30.00,96,51.0,PA
5,106,Male,17.00,23.50,80,59.0,PA
6,107,NaN,19.75,19.50,82,76.0,PA
7,108,Male,20.00,28.00,95,44.0,PA
8,109,Male,18.00,23.00,50,33.0,NN
9,110,Female,20.00,30.00,92,63.0,PA
10,111,Female,19.50,13.00,95,52.0,PA
11,112,Female,0.00,NaN,100,NaN,PA
12,113,Female,0.00,NaN,67,NaN,NN
13,114,Male,20.00,22.75,85,78.0,PA
14,115,Male,19.50,26.00,100,79.0,PA
15,116,Female,20.00,25.50,97,52.0,PA
16,117,NaN,15.75,10.00,81,34.0,NN
17,118,Male,12.50,10.00,30,22.0,NN
18,119,Male,17.50,20.00,61,31.0,NN
19,120,Male,14.50,23.50,54,58.0,PA
20,121,Female,17.75,30.00,56,46.0,PA
21,122,Female,20.00,23.00,37,25.0,NN
22,123,Male,19.75,30.00,74,61.0,PA
23,124,Male,20.00,30.00,90,71.0,PA
24,125,NaN,20.00,29.50,70,62.0,PA
25,126,Female,20.00,22.50,83,56.0,PA
26,127,Female,20.00,35.00,84,83.0,PA
27,128,Female,20.00,30.00,84,91.0,PA
28,129,Male,20.00,30.00,64,86.0,PA
29,130,Male,19.50,13.00,62,39.0,NN
30,131,Male,0.00,NaN,60,NaN,NN
31,132,Female,17.50,20.00,42,47.0,NN
32,133,Female,20.00,28.00,58,74.0,PA
33,134,Male,20.00,15.50,46,76.0,PA
34,135,Male,20.00,30.00,61,6.0,NN
35,136,Male,18.50,22.00,26,68.0,PA
36,137,Female,20.00,26.00,89,63.0,PA
37,138,Male,18.75,30.00,59,52.0,PA
38,139,Male,19.00,30.00,70,NaN,PA
39,140,Male,20.00,29.00,84,77.0,PA

 Managing Null Values

In [ ]:
# number of null records in original data set
(data.isnull().sum()).tolist

<bound method IndexOpsMixin.tolist of Student ID           0
Gender               3
Project Phase 1      0
Project Phase 2      3
Mid-Semester Test    0
Final Exam           4
Grade                0
dtype: int64>

In [ ]:
#Drop rows with null values
data_cleaned = data.dropna()

# Verify if all null values are removed
print("\nCheck for remaining null values:")
print(data_cleaned.isnull().sum())

# Save the cleaned dataset to a new file
cleaned_file_path = "cleaned_sample_grades.csv"
data_cleaned.to_csv(cleaned_file_path, index=False)
print(f"\nCleaned data saved to {cleaned_file_path}")

Check for remaining null values:
Student ID           0
Gender               0
Project Phase 1      0
Project Phase 2      0
Mid-Semester Test    0
Final Exam           0
Grade                0
dtype: int64

Cleaned data saved to cleaned_sample_grades.csv

In [ ]:
data.duplicated().sum()

np.int64(0)

In [ ]:
print("There are {:,} rows ".format(data_cleaned.shape[0]) + "and {} columns in our data after cleaning".format(data_cleaned.shape[1]))

There are 33 rows and 7 columns in our data after cleaning

In [ ]:
data_cleaned

,Student ID,Gender,Project Phase 1,Project Phase 2,Mid-Semester Test,Final Exam,Grade
0,101,Male,18.25,15.50,94,61.0,PA
1,102,Female,17.75,30.00,79,62.0,PA
2,103,Male,0.00,0.00,78,15.0,NN
3,104,Male,20.00,25.00,69,65.0,PA
4,105,Male,18.75,30.00,96,51.0,PA
5,106,Male,17.00,23.50,80,59.0,PA
7,108,Male,20.00,28.00,95,44.0,PA
8,109,Male,18.00,23.00,50,33.0,NN
9,110,Female,20.00,30.00,92,63.0,PA
10,111,Female,19.50,13.00,95,52.0,PA
13,114,Male,20.00,22.75,85,78.0,PA
14,115,Male,19.50,26.00,100,79.0,PA
15,116,Female,20.00,25.50,97,52.0,PA
17,118,Male,12.50,10.00,30,22.0,NN
18,119,Male,17.50,20.00,61,31.0,NN
19,120,Male,14.50,23.50,54,58.0,PA
20,121,Female,17.75,30.00,56,46.0,PA
21,122,Female,20.00,23.00,37,25.0,NN
22,123,Male,19.75,30.00,74,61.0,PA
23,124,Male,20.00,30.00,90,71.0,PA
25,126,Female,20.00,22.50,83,56.0,PA
26,127,Female,20.00,35.00,84,83.0,PA
27,128,Female,20.00,30.00,84,91.0,PA
28,129,Male,20.00,30.00,64,86.0,PA
29,130,Male,19.50,13.00,62,39.0,NN
31,132,Female,17.50,20.00,42,47.0,NN
32,133,Female,20.00,28.00,58,74.0,PA
33,134,Male,20.00,15.50,46,76.0,PA
34,135,Male,20.00,30.00,61,6.0,NN
35,136,Male,18.50,22.00,26,68.0,PA
36,137,Female,20.00,26.00,89,63.0,PA
37,138,Male,18.75,30.00,59,52.0,PA
39,140,Male,20.00,29.00,84,77.0,PA

In [ ]:
print("There are {:,} rows ".format(data_cleaned.shape[0]) + "and {} columns in our data after cleaning".format(data_cleaned.shape[1]))

There are 33 rows and 7 columns in our data after cleaning